<meta charset="UTF-8" />

<div class="nav-bar-fixed" id="header" th:fragment="layout-header">
  <header>
    <div class="navbar-fixed">
      <nav class="nav-extended">
        <div th:class="${session.authority == 1} ? ${'nav-wrapper red lighten-1'} : ${'nav-wrapper grey darken-2'}">
          <a href="/" class="brand-logo">Dスポーツセンター</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <div th:if="${session.login == null}">
              <li><a class="btn waves-effect waves-teal" href="/user/create">新規登録</a></li>
              <li><a class="btn waves-effect waves-light" href="/login">ログイン</a></li>
            </div>
            <div th:unless="${session.login == null}">
              <li><a class="btn waves-effect waves-light" href="/user/detail" th:text="${session.name}"></a></li>
              <li><a class="btn waves-effect waves-light back" href="/logout">ログアウト</a></li>
            </div>
          </ul>
        </div>

        <div th:class="${session.authority == 1} ? ${'nav-content red lighten-1'} : ${'nav-content grey darken-2'}">
          <ul class="tabs tabs-transparent no-autoinit">
            <li class="tab"><a href="/">HOME</a></li>
            <li class="tab"><a href="/listFacilities">施設</a></li>
            <li class="tab"><a href="/bbs/listAllBBS">お知らせ</a></li>
            <li class="tab"><a href="#test4">Q&A</a></li>
            <li th:if="${session.login != null && session.authority == 0}" class="tab"><a href="/reserve/findByUser">予約確認</a></li>
            <li th:if="${session.login != null && session.authority == 1}" class="tab"><a href="/user/findAll">ユーザー一覧</a></li>
            <li th:if="${session.login != null && session.authority == 1}" class="tab"><a href="/reserve/findAll">予約一覧</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <span th:if="${session.login == null}">
        <li><a href="/login">ログイン</a></li>
        <li><a href="/user/create/input">新規登録</a></li>
      </span>
      <span th:unless="${session.login == null}">
        <li class="center">
          <h5>WELCOME</h5>
        </li>
        <li><a href="/user/detail" th:text="${session.name}"></a></li>
        <li><a href="/logout">ログアウト</a></li>
      </span>
    </ul>
  </header>
</div>
