<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(body)">
  <head>
    <meta charset="UTF-8" />
    <title>layout</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
    <script type="text/javascript" src="/js/jquery-3.6.1.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
  </head>

  <body>
    <div id="header" th:replace="~{layout/header :: layout-header}"></div>
    <div id="main" th:replace="${body}"></div>
    <div id="footer" th:replace="~{layout/footer :: layout-footer}"></div>

    <script>
      M.AutoInit();
    </script>
  </body>
</html>
