<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<head>
  <title></title>
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
  <script type="text/javascript" src="/js/materialize.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <main>
    <div class="container">

      <div class="row center">
        <h3>ユーザー情報更新確認</h3>
      </div>

      <div class="row center">
        <form method="post">
          <div class="input-field col offset-s3 s6">
            <input readonly name="name" th:value="${user.name}" type="text"/>
            <label for="name">名前</label>
          </div>
          <div class="input-field col offset-s3 s6">
            <input readonly name="password" th:value="${user.password}" type="password"/>
            <label for="password">パスワード</label>
          </div>
          <div class="input-field col offset-s3 s6">
            <input readonly name="email" th:value="${user.email}" type="email"/>
            <label for="email">メールアドレス</label>
          </div>
          <div class="input-field col offset-s3 s6">
            <input readonly name="phoneNumber" th:value="${user.phoneNumber}" type="text"/>
            <label for="phoneNumber">電話番号</label>
          </div>
          <div class="input-field col offset-s3 s6">
            <input readonly name="post" th:value="${user.post}" type="number"/>
            <label for="post">郵便番号</label>
          </div>
          <div class="input-field col offset-s3 s6">
            <input readonly name="domicile" th:value="${user.domicile}" type="text"/>
            <label for="domicile">住所</label>
          </div>

          <div th:if="${!(session.user == null) && session.user.authority == 1}">
            <div class="input-field col offset-s3 s6">
              <input readonly name="authority" th:value="${user.authority}" type="number"/>
              <label for="authority">権限</label>
            </div>
          </div>

          <div class="input-field col offset-s3 s6">
            <p>ユーザーを登録しますか？</p>
          </div>
          <div class="row">
            <div class="input-field col offset-s3 s6">
              <button class="btn waves-effect waves-light" type="submit" formaction="/users/update/complete">登録</button>
              <button class="btn waves-effect waves-light" type="submit" formaction="/users/update/back">戻る</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </main>
</body>

</html>