<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<head>
  <title></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <main>
    <div class="container">

      <div class="row center">
        <h3>ユーザー削除確認</h3>
      </div>
      <div class="row center">
        <p>ユーザーを削除しますか？</p>
      </div>

      <div class="row center">
        <form method="get" action="/users/delete/complete">
          <div class="row">
            <div class="input-field">
              <button class="btn waves-effect waves-light" type="submit">確認</button>
              <a class="btn waves-effect waves-light back" href="/users/detail">戻る</a>
            </div>
          </div>
        </form>
      </div>

    </div>
  </main>
</body>

</html>