<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>アーチェリー</h3>
            </div>

            <div class="row center">
                <form method="post">
                <input type="hidden" name="facilityId" value="1">
                <input type="hidden" name="toolId" value="1">
                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <input name="toolNumber" type="text" class="validate" />
                            <label for="toolNumber">道具1</label>
                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--    <div class="input-field col offset-s3 s6">-->
                    <!--        <input name="tennisBall" type="text" class="validate" />-->
                    <!--        <label for="tennisBall">道具2</label>-->
                    <!--    </div>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <input type="text" class="datepicker" name="date">
                            <label for="date">日付</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <input type="text" class="timepicker" name="startTime">
                            <label for="startTime">開始時間</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <input type="text" class="timepicker" name="endingTime">
                            <label for="endingTime">終了時間</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col offset-s3 s6">      
                        <a class="btn waves-effect waves-light" href="/y">予約</a>
                        <a class="btn waves-effect waves-light back" href="/archery">戻る</a>
                     </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    
</body>

</html>