<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>ジム</h3>
            </div>
            
            <!--内容-->
            
    　　　　 <div class="row center">
        <a th:if="${session.user == null}" class="btn waves-effect waves-light" href="/login">ログイン</a>
        <a th:unless="${session.user == null}" class="btn waves-effect waves-light" href="/reserve/create/2">予約</a>
        <a class="btn waves-effect waves-light back" href="/facilities">戻る</a>
      </div>
             </div>
             </div>
             </div>
    </main>
</body>
</html>