<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
  <main>
    <div class="container">
      <div class="row center">
        <h3>施設一覧</h3>
      </div>

      <div class="row center">
        <ul>
          <li><a href="/archeryExplanation">アーチェリー</a></li>
          <li><a href="/gymExplanation">ジム</a></li>
          <li><a href="/tennisExplanation">テニスコート</a></li>
          <li><a href="/basketballExplanation">バスケットボール</a></li>
          <li><a href="/poolExplanation">プール</a></li>
        </ul>
      </div>

      <div class="row center">
        <a class="btn waves-effect waves-light back" href="/">戻る</a>
      </div>
    </div>
  </main>

</body>

</html>