<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
    <link th:href="@{/css/facility/listFacilities.css}" rel="stylesheet"/>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div></div>
    <h2>施設一覧</h2>
    <u1>
    </style>>
      <li><a href="#">バスケットボール</a></li>
      <li><a href="/pool">屋内プール</a></li>
      <li><a href="#">アーチェリー</a></li>
      <li><a href="/tennis">テニスコート</a></li>
      <li><a href="#">陸上トラック</a></li>
    </u1>
    <input type="button" value="戻る" href="/"/>

</body>
</html>

