<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
	<body>
		<main>
			<div class="container">
				<div class="row center">
					<h3>施設一覧</h3>
				</div>

				<div class="row">
					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/archery_m.jpg" />
								<span class="card-title">アーチェリー</span>
							</div>
							<div class="card-content">
								<p>アーチェリーの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/archeryExplanation">アーチェリー</a>
							</div>
						</div>
					</div>

					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/soccer_m.jpg" />
								<span class="card-title">サッカー</span>
							</div>
							<div class="card-content">
								<p>サッカーの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/gymExplanation">サッカー</a>
							</div>
						</div>
					</div>

					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/tennis_m.jpg" />
								<span class="card-title">テニス</span>
							</div>
							<div class="card-content">
								<p>テニスの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/tennisExplanation">テニス</a>
							</div>
						</div>
					</div>

					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/basketball_m.jpg" />
								<span class="card-title">バスケットボール</span>
							</div>
							<div class="card-content">
								<p>バスケットボールの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/basketballExplanation">バスケットボール</a>
							</div>
						</div>
					</div>

					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/pool_m.jpg" />
								<span class="card-title">プール</span>
							</div>
							<div class="card-content">
								<p>プールの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/poolExplanation">プール</a>
							</div>
						</div>
					</div>

					<div class="col s4">
						<div class="card small">
							<div class="card-image">
								<img src="picture/golf_m.jpg" />
								<span class="card-title">ゴルフ</span>
							</div>
							<div class="card-content">
								<p>ゴルフの簡単紹介を入力してください</p>
							</div>
							<div class="card-action">
								<a href="/poolExplanation">ゴルフ</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
