<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    
    <h1>屋内プール</h1>

　　　<h2>水着は持参か販売</h2>

　　　<p>開始</p>
<select name="start">
    <option value="">9:00</option>
    <option value="">9:30</option>
    <option value="">10:00</option>
    <option value="">10:30</option>
    <option value="">11:00</option>
    <option value="">11:30</option>
    <option value="">12:00</option>
    <option value="">12:30</option>
    <option value="">13:00</option>
    <option value="">13:30</option>
    <option value="">14:00</option>
    <option value="">14:30</option>
    <option value="">15:00</option>
    <option value="">15:30</option>
    <option value="">16:00</option>
    <option value="">16:30</option>
    <option value="">17:00</option>
    <option value="">17:30</option>
    <option value="">18:00</option>
    <option value="">18:30</option>
    <option value="">19:00</option>
    <option value="">19:30</option>
    <option value="">20:00</option>
</select>
<p>終了</p>
<select name="end">
    <option value="">9:00</option>
    <option value="">9:30</option>
    <option value="">10:00</option>
    <option value="">10:30</option>
    <option value="">11:00</option>
    <option value="">11:30</option>
    <option value="">12:00</option>
    <option value="">12:30</option>
    <option value="">13:00</option>
    <option value="">13:30</option>
    <option value="">14:00</option>
    <option value="">14:30</option>
    <option value="">15:00</option>
    <option value="">15:30</option>
    <option value="">16:00</option>
    <option value="">16:30</option>
    <option value="">17:00</option>
    <option value="">17:30</option>
    <option value="">18:00</option>
    <option value="">18:30</option>
    <option value="">19:00</option>
    <option value="">19:30</option>
    <option value="">20:00</option>
</select>

　　　<input type="button" value="戻る"　href="/">
   
    <input type="button" value="予約"　href="/">
    
</body>
</html>
