<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>テニス</h3>
            </div>
            
            <!--内容-->
            <section>
            <h1>テニスコート</h1>
                <img src="https://0f55a2b68f43426881f84ca40e4cd5c2.vfs.cloud9.ap-northeast-1.amazonaws.com/picture/tennis_m.jpg" widht="300px" height="300px">
            <p>テニスコートは６面あり、硬式・軟式両方使用することが出来ます。
                コートの種類はシングルスコート（8.23m×23.77m）が３面、ダブルスコート（10.97m×23.77m）が３面となっています。
                私用のラケットやボールを持ち込むことも可能です。
            </p>
        </section>

        <section>
            <p class="tool"><strong>テニスボール</strong>:軟式球・硬式球の2種類があります。<br>
                            <strong>テニスラケット</strong>:28インチのラケットからジュニア向けの21インチのラケットまでレンタルすることが可能です。</p>
        </section>
            
    　　　　 <div class="row center">
        <a class="btn waves-effect waves-light" href="/tennis">予約</a>
        <a class="btn waves-effect waves-light back" href="/facilities">戻る</a>
      </div>
             </div>
             </div>
             </div>
    </main>
</body>
</html>