<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>テニス</h3>
            </div>

            <div class="row center">
                <form>
                    <div class="row">
                        <div class="input-field inline col offset-s4 s4">
                            <select>
                                <option disabled selected>数量を選びてくだいさい</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <label>テニスラケット</label>
                        </div>
                        <!-- <div class="input-field col offset-s3 s6">
                            <input name="text1" type="text" class="validate" />
                            <label for="text1"></label>
                        </div> -->
                    </div>
                    <!-- <div class="row center">
                        <div class="input-field col offset-s3 s6">
                            <input name="tennisBall" type="text" class="validate" />
                            <label for="tennisBall">テニスボール</label>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="input-field">
                            <div class="btn waves-effect waves-light picker">
                                <input type="button" class="datepicker" name="date" value="日付">
                            </div>
                            <!-- <label for="startTime">日付</label> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input type="button" class="timepicker btn waves-effect waves-light picker" name="startTime"
                                value="開始時間">
                            <!-- <label for="startTime">開始時間</label> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field">
                            <input type="button" class="timepicker btn waves-effect waves-light picker" name="endTime"
                                value="終了時間">
                            <!-- <label for="endTime">終了時間</label> -->
                        </div>
                    </div>

                    <div class="row">
                        <p th:if="${session.user == null}">ログインから利用してください。</p>
                    </div>

                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <button th:if="${session.user != null}" class="btn waves-effect waves-light" type="submit"
                                formaction="#">確認</button>
                            <a th:if="${session.user == null}" class="btn waves-effect waves-light"
                                href="/login">ログイン</a>
                            <button class="btn waves-effect waves-light back" type="submit"
                                formaction="/tennisExplanation">戻る</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>