<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>予約完了</h3>
            </div>
                    <div class="row">
                        <div class="input-field col offset-s3 s6">
                            <button class="btn waves-effect waves-light back" type="submit"
                                formaction="/archeryExplanation">戻る</button>
                        </div>
                    </div>
            </div>
    </main>
</body>
</html>