<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title></title>
  <link type="text/css" rel="stylesheet" href="css/materialize.css" />
  <script type="text/javascript" src="js/materialize.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div class="container">
    <h3>ログイン</h3>

    <form class="center" method="post" th:action="@{/doLogin}">

      <div class="row center">
        <div class="input-field col offset-s4 s4">
          <input name="email" type="email" class="validate" />
          <label for="email">メールアドレス</label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col offset-s4 s4">
          <input name="password" type="password" class="validate" />
          <label for="password">パスワード</label>
        </div>
      </div>

      <div class="row center">
        <div class="input-field col offset-s4 s4">
          <button class="btn waves-effect waves-light" type="submit">ログイン
          </button>
          <a class="btn waves-effect waves-light back" href="/">戻る</a>
        </div>
      </div>

    </form>

  </div>

</body>

</html>