<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3 th:if="${session.userStatus=='create'}">ユーザー・新規登録</h3>
          <h3 th:if="${session.userStatus=='update'}">ユーザー・情報変更</h3>
          <h3 th:if="${session.userStatus=='delete'}">ユーザー・削除</h3>
          <h3>完了</h3>
        </div>
      </div>

      <div class="row center">
        <a
          th:if="${session.userStatus=='create'}"
          class="btn waves-effect waves-light back"
          th:href="${session.authority == 1} ? '/user/findAll' : '/login'">
          戻る
        </a>
        <a
          th:if="${session.userStatus=='update'}"
          class="btn waves-effect waves-light back"
          th:href="${session.authority == 1} ? '/user/findAll : '/user/detail/'+ ${session.id} ">
          戻る
        </a>
        <a
          th:if="${session.userStatus=='delete'}"
          class="btn waves-effect waves-light back"
          th:href="${session.authority == 0} ? '/user/findAll' : '/' ">
          戻る
        </a>
      </div>
    </main>
  </body>
</html>
