<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3>ログイン</h3>
        </div>
        <div class="row center" style="color: red">
          <p>管理者権限アカウント</p>
          <p>管理者権限</p>
          <p>メール：admin@1 パスワード：1</p>
          <p>管理者権限としてログインすれば、ほかのユーザーの権限を変更できる</p>

          <p class="materialize-red-text text-lighten-2" th:text="${errormessage}"></p>
        </div>

        <form class="center" method="post" action="/doLogin">
          <div class="row">
            <div class="input-field col offset-m1 m10 s12">
              <i class="material-icons prefix">email</i>
              <input id="emailInput" name="email" type="email" class="validate" />
              <label for="emailInput">メールアドレス</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col offset-m1 m10 s12">
              <i class="material-icons prefix">fingerprint</i>
              <input id="passwordInput" name="password" type="password" class="validate" />
              <label for="passwordInput">パスワード</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col offset-m1 m10 s12">
              <button class="btn waves-effect waves-light" type="submit">ログイン</button>
              <a class="btn waves-effect waves-light back" href="/">戻る</a>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
