<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3>ユーザー・一覧</h3>
        </div>

        <div class="row center">
          <a class="waves-effect waves-light green btn" href="/user/create">新規登録</a>
        </div>

        <div class="row">
          <table class="highlight responsive-table striped">
            <thead>
              <tr class="center">
                <th>ユーザーID</th>
                <th>名前</th>
                <th>パスワード</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>権限</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="user: ${userList}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.post}"></td>
                <td th:text="${user.domicile}"></td>
                <td th:text="${user.authority == 0} ? ${'なし'} : ${'あり'}"></td>
                <td><a class="waves-effect waves-light btn" th:href="@{'/user/detail/'+${user.userId}}">詳細</a></td>
                <td><a class="waves-effect waves-light btn" th:href="@{'/reserve/findByUser/'+${user.userId}}">予約一覧</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
