<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>User Detail</div>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>password</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>post</th>
        <th>domicile</th>
        <th>authority</th>
      </tr>
      <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.post}"></td>
        <td th:text="${user.domicile}"></td>
        <td th:text="${user.authority}"></td>
      </tr>
      <tr>
      </tr>
    </table>
  </body>
</html>
