<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title>HOME</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>

  <body>
    <main>
      <div class="parallax-container">
        <div class="parallax"><img src="picture/test.jpg" widht="300px" height="300px"/></div>
      </div>
      <div class="section white">
        <div class="row container">
          <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
      </div>
    </main>
  </body>
</html>
