<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <p th:text="${sample}"></p>
    <a href="${loginStatus}"></a>
    <div th:switch="${session.loginStatus}">
      <span th:case="null">
        <p>
        <a href="/login">Login</a>
      </p>
        <a href="/users/create/input">Create New Account</a>
      </span>
      <span th:case="1">
        <div>
          <p>
            <span th:text="${session.user.name}"></span>
            Welcome!
          </p>
          <a href="/logout">Logout</a>
        </div>
        <div>
          <a href="/users/getOne/{session.user.id}">Check Account Detail</a>
        </div>
      </span>
    </div>
  </body>
</html>
