<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title></title>
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <form method="post" action="/doLogin">
  
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">User ID</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" type="text" name="id">
            </p>
          </div>
        </div>
      </div>
  
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded">
              <input class="input" type="password" name="password">
            </p>
          </div>
        </div>
      </div>
      <span th:text="${errormessage}"></span>
  
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <input class="button is-primary" type="submit" value="Login">
            </div>
            <div class="control">
              <a class="button is-light" href="redirect:/">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</body>

</html>