<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">

<body>
    <main>
        <div class="container">
            <div class="row center">
                <h3>こちらはこの画面のタイトル</h3>
            </div>

            <div class="row center"> <!-- このdivを複数使ってもいい -->
                <!-- こちらは作りたいもの、<table> <form> <p>とか -->
            </div>
            
            <!-- <div class="row center"> 
            </div> -->
        </div>
    </main>
</body>

</html>