<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title>新規登録</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3 th:if="${session.reserveStatus=='create'}">予約・新規登録 確認</h3>
          <h3 th:if="${session.reserveStatus=='update'}">予約・情報変更 確認</h3>
        </div>

        <div class="row">
          <form class="center confirm" method="post">
            <div class="row">
              <div class="input-field col offset-m1 m10 s12">
                <i class="material-icons prefix">account_balance</i>
                <input
                  readonly
                  hidden
                  th:if="${form.reserveManagementId!=null}"
                  name="reserveManagementId"
                  type="number"
                  th:value="${form.reserveManagementId}" />
                <input readonly hidden name="facilityId" type="number" th:value="${form.facilityId}" />
                <input readonly id="facilityNameInput" name="facilityName" type="text" th:value="${form.facilityName}" />
                <label for="facilityNameInput">施設</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-m1 m10 s12">
                <i class="material-icons prefix">date_range</i>
                <input readonly id="dateInput" name="date" type="text" th:value="${form == null ? '' : form.date}" />
                <label for="dateInput">日付</label>
              </div>
            </div>

            <div class="row center">
              <h5>予約時間帯選択結果確認</h5>
            </div>

            <div class="row center">
              <table id="hourTable" class="timeTable centered col offset-m1 m10 s12" >
                <thead>
                  <tr>
                    <th>時間帯</th>
                    <th>9時-10時</th>
                    <th>10時-11時</th>
                    <th>11時-12時</th>
                    <th>12時-13時</th>
                    <th>13時-14時</th>
                    <th>14時-15時</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td rowspan="3">予約選択</td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime9() == null}" id="time9" name="time9" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime9() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime10() == null}" id="time10" name="time10" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime10() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime11() == null}" id="time11" name="time11" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime11() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime12() == null}" id="time12" name="time12" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime12() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime13() == null}" id="time13" name="time13" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime13() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime14() == null}" id="time14" name="time14" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime14() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                  </tr>
                  <tr style="font-weight: bold">
                    <td>15時-16時</td>
                    <td>16時-17時</td>
                    <td>17時-18時</td>
                    <td>18時-19時</td>
                    <td>19時-20時</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime15() == null}" id="time15" name="time15" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime15() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime16() == null}" id="time16" name="time16" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime16() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime17() == null}" id="time17" name="time17" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime17() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime18() == null}" id="time18" name="time18" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime18() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td>
                      <label>
                        <input hidden th:unless="${form.getTime19() == null}" id="time19" name="time19" value="on"/>
                        <input disabled type="checkbox" th:checked="${form == null ? '' : form.getTime19() == null ? 'false' : 'checked'}" />
                        <span></span>
                      </label>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row center">
              <h5>道具借り出し</h5>
            </div>

            <div id="toolLoading" class="col offset-s3 s6">
              <div class="indeterminate"></div>
            </div>

            <span id="toolField">
              <div>
                <div th:each="tool,toolStat:${form.toolList}">
                  <div class="row">
                    <div class="col offset-s3 s1">
                      <p th:text="${tool.toolName}"></p>
                    </div>
                    <div class="col s5">
                      <div class="input-field">
                        <input
                          readonly
                          th:name="'toolList[' + ${toolStat.index} + '].toolName'"
                          type="hidden"
                          class="toolInfo"
                          th:value="${tool.toolName}" />
                        <input
                          readonly
                          th:name="'toolList[' + ${toolStat.index} + '].toolId'"
                          type="hidden"
                          class="toolInfo"
                          th:value="${tool.toolId}" />
                        <input
                          readonly
                          th:name="'toolList[' + ${toolStat.index} + '].toolNum'"
                          type="number"
                          class="toolInfo"
                          th:value="${tool.toolNum}"
                          placeholder="個数を入力してください" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>

            <div class="row col offset-s3 s6">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                th:formaction="${session.reserveStatus=='create'} ? '/reserve/create/complete' : '/reserve/update/complete'"
                th:text="${session.reserveStatus=='create'} ? '新規' : '更新'"></button>
              <!-- <button
                class="btn waves-effect waves-light back"
                type="submit"
                th:formaction="${session.reserveStatus=='create'} ? '/reserve/create/back' : '/reserve/update/back'">
                戻る
              </button> -->
              <a class="btn waves-effect waves-light back" href="javascript:history.back();">戻る</a>
              <input hidden id="reserveStatus" th:value="${session.reserveStatus}" />
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
