<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title>新規登録</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3 th:if="${session.reserveStatus=='create'}">予約・新規登録</h3>
          <h3 th:if="${session.reserveStatus=='update'}">予約・情報変更</h3>
        </div>

        <div class="row">
          <form method="post" th:action="${session.reserveStatus=='create'} ? '/reserve/create/confirm' : '/reserve/update/confirm'">
            <input disabled th:if="${session.reserveStatus!=null}" hidden id="reserveStatus" th:value="${session.reserveStatus}" />
            <input th:if="${preSelectFacilityId!=null}" hidden id="preSelectFacilityId" th:value="${preSelectFacilityId}" />
            <input disabled th:if="${form!=null}" hidden id="form" th:value="${form}" />
            <input disabled th:if="${form!=null}" hidden id="formFacilityId" th:value="${form.facilityId}" />

            <div class="row">
              <div class="input-field col offset-s3 s6" th:if="${session.reserveStatus=='update'}">
                <i class="material-icons prefix">account_balance</i>
                <input hidden name="reserveManagementId" type="number" th:value="${form.reserveManagementId}" />
                <input hidden name="facilityId" type="number" th:value="${form.facilityId}" />
                <input readonly id="facilityNameInput" name="facilityName" type="text" th:value="${form.facilityName}" class="confirm" />
                <label for="facilityNameInput">施設</label>
              </div>

              <div class="input-field col offset-s3 s6" th:if="${session.reserveStatus=='create'}">
                <i class="material-icons prefix">account_balance</i>
                <select required class="validate" id="facilityId" name="facilityId" tabindex="-1" onchange="change()">
                  <option value="" id="hintOption">予約したい施設を選んでくだいさい</option>
                  <label>施設</label>
                </select>
                <input th:if="${form != null}" hidden id="facilityName" name="facilityName" type="text" th:value="${form.facilityName}" />
                <input th:if="${form == null}" hidden id="facilityName" name="facilityName" type="text" />
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <i class="material-icons prefix">date_range</i>
                <input required name="date" id="dateInput" type="text" class="datepicker validate" th:value="${form == null ? '' : form.date}" />
                <label for="dateInput">日付</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <i class="material-icons prefix">brightness_5</i>
                <input
                  required
                  id="startTimeInput"
                  name="startTime"
                  type="text"
                  class="timepicker validate"
                  th:value="${form == null ? '' : form.startTime}" />
                <label for="startTimeInput">開始時間</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <i class="material-icons prefix">brightness_4</i>
                <input
                  required
                  id="endTimeInput"
                  name="endingTime"
                  type="text"
                  class="timepicker validate"
                  th:value="${form == null ? '' : form.endingTime}" />
                <label for="endTimeInput">終了時間</label>
              </div>
            </div>

            <div class="row center">
              <h5>道具</h5>
            </div>
            <div class="row center" id="toolHint" th:if="${form==null}">
              <p>予約したい施設を選んでくだいさい</p>
            </div>

            <div id="toolLoading" class="col offset-s3 s6">
              <div class="indeterminate"></div>
            </div>

            <span id="toolField">
              <div th:if="${form != null}">
                <div th:each="tool,toolStat:${form.toolList}">
                  <div class="row">
                    <div class="col offset-s3 s1">
                      <p th:text="${tool.toolName}"></p>
                    </div>
                    <div class="col s5">
                      <div class="input-field">
                        <input
                          readonly
                          th:name="'toolList[' + ${toolStat.index} + '].toolName'"
                          type="hidden"
                          class="validate toolInfo"
                          th:value="${tool.toolName}" />
                        <input
                          readonly
                          th:name="'toolList[' + ${toolStat.index} + '].toolId'"
                          type="hidden"
                          class="validate toolInfo"
                          th:value="${tool.toolId}" />
                        <input
                          th:name="'toolList[' + ${toolStat.index} + '].toolNum'"
                          type="number"
                          class="validate toolInfo"
                          th:value="${tool.toolNum}"
                          placeholder="個数を入力してください" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </span>

            <div class="row col offset-s3 s6 center">
              <button th:if="${form!=null}" id="confirm" class="btn waves-effect waves-light" type="submit">確認</button>
              <button th:if="${form==null}" id="confirm" class="btn waves-effect waves-light disabled" type="submit">確認</button>
              <a class="btn waves-effect waves-light back" th:if="${session.reserveStatus=='create'}" href="/listFacilities">戻る</a>
              <a
                class="btn waves-effect waves-light back"
                th:if="${session.reserveStatus=='update'}"
                th:href="'/reserve/reserveDetail/' + ${form.reserveManagementId}"
                >戻る</a
              >
            </div>
          </form>
        </div>
      </div>

      <script type="text/javascript" src="/js/reserve/picker.js"></script>
      <script type="text/javascript" src="/js/reserve/input.js"></script>
    </main>
  </body>
</html>
