<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title>予約詳細</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3>予約詳細</h3>
        </div>

        <div class="row">
          <form class="center confirm" method="post">
            <div class="row">
              <div class="input-field col offset-s3 s6">
                <input readonly hidden type="text" name="reserveManagementId" th:value="${rm.reserveManagementId}" />
                <input readonly hidden type="text" name="facilityId" th:value="${rm.facilityId.facilityId}" />
                <input readonly type="text" name="facilityName" th:value="${rm.facilityId.facilityName}" />
                <label>施設</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <input readonly type="text" name="date" th:value="${#dates.format(rm.startTime,'yyyy-MM-dd')}" />
                <label for="date">日付</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <input readonly type="text" name="startTime" th:value="${#dates.format(rm.startTime,'HH:MM')}" />
                <label for="startTime">開始時間</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col offset-s3 s6">
                <input readonly type="text" name="endingTime" th:value="${#dates.format(rm.endingTime,'HH:MM')}" />
                <label for="endTime">終了時間</label>
              </div>
            </div>

            <div class="row center">
              <h5>道具</h5>
            </div>

            <span id="toolField">
              <div th:each="tool,toolStat:${toolList}">
                <div class="row">
                  <div class="col offset-s3 s1">
                    <p th:text="${tool.toolId.toolName}"></p>
                  </div>
                  <div class="col s5">
                    <div class="input-field">
                      <input readonly th:name="'toolList[' + ${toolStat.index} + '].toolName'" type="hidden" th:value="${tool.toolId.toolName}" />
                      <input readonly th:name="'toolList[' + ${toolStat.index} + '].toolId'" type="hidden" th:value="${tool.toolId.toolId}" />
                      <input readonly th:name="'toolList[' + ${toolStat.index} + '].toolNum'" type="number" th:value="${tool.toolNumber}" />
                    </div>
                  </div>
                </div>
              </div>
            </span>

            <div class="row">
              <button class="btn waves-effect waves-light" type="submit" formaction="/reserve/update/input">変更</button>
              <button class="btn waves-effect waves-light" type="submit" formaction="/reserve/update/complete">削除</button>
              <button th:if="${session.user.authority==1}" class="btn waves-effect waves-light back" type="submit" formaction="/reserve/findAll">戻る</button>
              <button th:if="${session.user.authority==0}" class="btn waves-effect waves-light back" type="submit" formaction="/reserve/findByUser">戻る</button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
