<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: layout(~{::body/content()})}">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <main>
      <div class="container">
        <div class="row center">
          <h3>予約・一覧</h3>
          <h5 th:if="userName != null" th:text="'指定ユーザー：' + ${userName==null?'なし':userName}"></h5>
        </div>

        <div class="row center">
          <a
            th:if="${listStatus == 'normal' && session.adminCreateFlag == true}"
            class="waves-effect waves-light green btn"
            th:href="@{'/reserve/createAdmin/'+${session.adminCreateId}}"
            >新規登録</a
          >
          <a th:if="${listStatus == 'normal' && session.adminCreateFlag == false}" class="waves-effect waves-light green btn" href="/reserve/create"
            >新規登録</a
          >
        </div>

        <div class="row">
          <table class="highlight responsive-table striped centered">
            <thead>
              <tr class="center">
                <th>予約ID</th>
                <th th:if="${session.login != null && session.authority == 1}">ユーザーID</th>
                <th th:if="${session.login != null && session.authority == 1}">ユーザー名</th>
                <th>施設名</th>
                <th>予約日付</th>
                <th>時間帯</th>
                <th>新規時間</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="rm: ${rm}">
                <td th:text="${rm.reserveManagementId}"></td>
                <td th:text="${rm.userId.userId}" th:if="${session.login != null && session.authority == 1}"></td>
                <td th:text="${rm.userId.name}" th:if="${session.login != null && session.authority == 1}"></td>
                <td th:text="${rm.facilityId.facilityName}"></td>
                <td th:text="${#dates.format(rm.reserveDate,'yyyy-MM-dd')}"></td>
                <td th:text="${rm.hourList}"></td>
                <td th:text="${#dates.format(rm.createTime,'yyyy-MM-dd HH:mm')}"></td>
                <td><a class="waves-effect waves-light btn" th:href="@{'/reserve/reserveDetail/'+${rm.reserveManagementId}}">詳細</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
