<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title></title>
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
  <script type="text/javascript" src="/js/materialize.js"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <div class="container">
    <div class="row center">
      <h3>ユーザー詳細</h3>
    </div>

    <div class="row" th:unless="${session.user==null}">
      <form class="center">
        <div th:if="${session.user.authority == 1}">
          <div class="input-field col offset-s3 s6">
            <input disabled th:value="${session.user.userId}" name="id" type="text" class="validate" />
            <label for="id">ID</label>
          </div>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.name}" name="name" type="text" class="validate" />
          <label for="name">名前</label>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.password}" name="password" type="text" class="validate" />
          <label for="password">パスワード</label>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.email}" name="email" type="text" class="validate" />
          <label for="email">メールアドレス</label>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.phoneNumber}" name="phoneNumber" type="text" class="validate" />
          <label for="phoneNumber">電話番号</label>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.post}" name="post" type="text" class="validate" />
          <label for="post">郵便番号</label>
        </div>
        <div class="input-field col offset-s3 s6">
          <input disabled th:value="${session.user.domicile}" name="domicile" type="text" class="validate" />
          <label for="domicile">住所</label>
        </div>

        <div th:if="${session.user.authority == 1}">
          <div class="input-field col offset-s3 s6">
            <input disabled th:value="${session.user.authority}" name="authority" type="text" class="validate" />
            <label for="authority">権限</label>
          </div>
        </div>
      </form>
    </div>

    <div class="row center">
      <a class="btn waves-effect waves-light" href="/users/update/input/">更新</a>
      <a class="btn waves-effect waves-light" href="/users/delete/confirm/">削除</a>
      <a class="btn waves-effect waves-light back" href="/">戻る</a>
    </div>
</body>

</html>